body {
  padding: 5px;
}
* {
  box-sizing: border-box;
}
.receipt-header{
  text-align: center;
  style=" font-family:Times New Roman;
  font-size:10px;
  color:#000000;
}
.receipt-main {
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #000;
}
.receipt-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.receipt-label {
  font-weight: 600;
}
.text-large {
  font-size: 20px;
}
.receipt-footer {
  text-align: center;
  background: #ff0000;
}
.receipt-signature {
  height: 80px;
  margin: 50px 0;
  padding: 0 50px;
  background: #fff;
}
.receipt-signature .receipt-line {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  width: 50%;
}
.receipt-signature p {
  text-align: center;
  margin: 0;
}
